
#navb {
    // margin-top: 100px;
    border: 7px solid rgb(64, 217, 255);
    border-radius: 30px;
    margin: 150px auto 0px auto;
    border-collapse: collapse;
}




#fg{

    background-color: rgba(71, 71, 70, 0.459);
    margin: 43px 28px 93px 21px;
    padding: 0px 70px 54px;
    border-radius: 20px;
}

#navh3 {
    margin-left: 20px;
    margin-right: 571px;
    color: aquamarine;
}

#tbl {
    border: 6px solid gray;
    border-radius: 25px;

}


#bt,
#bt1 {
    border: 2px solid white;

}

#bt:hover,
#bt1:hover {

    border: 2.2px solid black;
    background-color: rgb(43, 255, 0);
}

#bt2 {
    border: 2px solid rgb(255, 46, 46);

}

#bt2:hover {
    border: 2.1px solid black;
    background-color: rgb(255, 0, 0);

}